<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>License plates app</title>
	
	<style>
		ul {
			list-style-type: none; 
			margin: 0; 
			padding: 0;
		}
		
		li {
			display: inline; 
			margin: 0 10px;
		}
		
		table {
			border: 1px solid black; 
			border-collapse: collapse;
			margin: 20px 0;
		}
		
		tr, td {
			border: 1px solid black;
		}
		
		td {
			padding: 5px 10px;
		}
	
	</style>
</head>
<body>
	<h1>License plates app</h1>

	<form th:action="@{/search}"  method="get">
		<input type="text" name="q" />
		<input type="submit" value="Search" />
	</form>
	
	<p style="color: red;" th:text="${error}"></p>
	
	<ul>
		<li><a th:href="@{/search?police=1}">Police cars only</a></li>		
		<li><a th:href="@{/search?diplomat=1}">Diplomats cars only</a></li>
	</ul>
	
	<table>
		<tr >
			<td>License plate</td>
			<td>Brand</td>
			<td>Model</td>
			<td>Color</td>
			<td>Year</td>
		</tr>
		<tr th:each="licensePlate : ${licensePlates}">
		    <td th:text="${licensePlate.plate}" />
		    <td><a th:text="${licensePlate.carBrand}" th:href="@{'/search/' + ${licensePlate.carBrand}}"></a></td>
		    <td th:text="${licensePlate.carModel}"></td>
		    <td th:text="${licensePlate.color}"></td>
		    <td th:text="${licensePlate.year}"></td>
		</tr>
	</table>
		<a th:href="@{/api/search-history}">Search history</a>

</body>
</html>